<div class="main-content ">
    <div class="container-fluid align-middle">
        <div class="row">
            <div class="col-md-3 "></div>
            <div class="col-md-4 ">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <p>Merhaba, {{username}}</p>
                        <!--<h4 class="card-title">{{'PasswordChangeRequired' | translate}}</h4>-->

                    </div>
                    <div class="card-body">
                        <form (submit)="passwordChange()">
                            <div>
                                <label for="password1"
                                    class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">{{'Password'
                                    | translate}}</label>
                                <p-password id="password1" [(ngModel)]="passwordChangeRequired.password"
                                    placeholder="{{'Password' | translate}}" [toggleMask]="true" class="mb-4"
                                    [fluid]="true" [feedback]="false"></p-password>

                                <label for="password2"
                                    class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">{{'Password
                                    Again' | translate}}</label>
                                <p-password id="password2" [(ngModel)]="passwordChangeRequired.passwordAgain"
                                    placeholder="{{'Password Again' | translate}}" [toggleMask]="true" class="mb-4"
                                    [fluid]="true" [feedback]="false"></p-password>

                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Şifre
                                Değiştir</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</div>